.comment-section:focus, .search-bar:focus {
    box-shadow: none;
}

@media (min-width: 992px) {
    .header-custom {
        max-width: 70vw;
    }
}
.nav-item > .nav-link > img {
    vertical-align: bottom;
}
.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 99999;
}
.container {
    align-items: start !important;
}
.navbar {
    height: 54px !important;
}
.search-bar {
    background-color: rgb(244 242 242); 
    font-size: 14px;
    border-radius: 8px;
    border: none;
}
.black-color {
    color: black !important;
}
.user-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
}
#img-profile {
    width: 23px; 
    height: 23px; 
    border-radius: 50%
}